.about__img {
  max-width: 300px;
}

@media screen and (max-width: 1023px) {
  .about__img {
    order: 2;
  }
}

@media screen and (max-width: 767px) {
  .about__img {
    max-width: calc(260px + (40 + 40 * .7) * (100vw - 320px) / 767);
  }
}
