.section-qualities {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  font-size: var(--font-size-h5);
  line-height: 1.65rem;
  letter-spacing: var(--letter-spacing-s);

  margin: 0;
  padding: 40px 0 0 12px;
}

@media screen and (max-width: 1023px) {
  .section-qualities {
    row-gap: 6px;

    padding-top: 20px;
  }
}
