.footer {
  padding-top: 40px;

  background: url(../../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, var(--gradient-start) 0%, var(--gradient-end) 100%), var(--gradient-addition);

  cursor: url(../../../assets/icons/cursor-arrow_light.svg), auto;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 30px;
  }
}
