.footer__contact {
  display: flex;
  align-items: center;
  column-gap: 20px;

  font-size: var(--font-size-h4);
  line-height: var(--font-line-height-h4);
  letter-spacing: var(--letter-spacing-s);
  color: var(--color-primary);
}
