.about__text-block {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  max-width: 430px;
  padding-top: 14px;
}

@media screen and (max-width: 1023px) {
  .about__text-block {
    order: 1;

    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .about__text-block {
    max-width: calc(270px + (160 + 160 * .7) * (100vw - 320px) / 767);
  }
}

@media screen and (max-width: 479px) {
  .about__text-block {
    align-items: center;
    row-gap: 23px;
  }
}
