@keyframes transition-left {
  from {
    left: -1080px;
  }

  to {
    left: 0;
  }
}

.carousel-transition-left {
  animation: transition-left 1s;
}

@media screen and (max-width: 1279px) {
  @keyframes transition-left {
    from {
      left: -620px;
    }

    to {
      left: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  @keyframes transition-left {
    from {
      left: -300px;
    }

    to {
      left: 0;
    }
  }
}
