.section-heading {
  margin: 0;

  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-h3);
  letter-spacing: 0.2rem;

  color: var(--color-dark-l);
}

@media screen and (max-width: 767px) {
  .section-heading {
    font-size: var(--font-size-h3-tablet-and-mobile);
  }
}

@media screen and (max-width: 479px) {
  .section-heading {
    text-align: center;
    letter-spacing: var(--letter-spacing-s);
  }
}
