.logo__title {
  margin: 0;

  font-size: 32px;
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-h5);
  letter-spacing: var(--letter-spacing-s);

  color: var(--color-primary);

  transition: color 0.3s ease-in;
}
